*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: arial;
}

:root{
	--cabeza_pie:#a52a2a;
	--cabeza_pie_hover:#f2f3f4;
}

.header, .footer{
	width: 100%;
	color: white;
	min-width: 720px;
	max-width: 1440px
}


.header{
	display: flex;
	width: 100%;
	background-color: var(--cabeza_pie);
	align-items: center;
	justify-content: space-between;
}

.logo{
	padding: 30px;
}
.navegador{
	padding: 30px;
}

.navegador .option{
	background-color: ;
	padding: 30px;
	color: white;
}

.navegador .option:hover{
	background-color: var(--cabeza_pie_hover);
	color: var(--cabeza_pie);
}

.footer{
	background-color: var(--cabeza_pie);
	width: 100%;
	padding: 10px;
}
.copy{
	text-align: center;
}
.contacto{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.redes{
	width: 50%;
	text-align: center;
}
.paginas{
	text-align: center;
	width: 50%;
}